body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    overflow-x: hidden;
    background-color: gray;
    background-color: rgb(82, 81, 81);
    background-color: rgb(218, 19, 59);
}
#navBar, #navBar2{
    position: fixed;
    z-index: 1;
    height: 0.6in;
    background-color: rgb(31, 114, 23);
    width: 100vw;
    margin: 0px;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    overflow-y: hidden;
}
#navBar2{
    top: 0.6in;
    display: block;
    background-color: rgba(255, 255, 255, 0.842);
    overflow-y: unset;
}
.hope-btn{
    outline: none;
    border: none;
    height: 80%;
    background-color: rgba(137, 43, 226, 0.884);
    color: white;
    margin: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#headline{
    display: inline-block;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
#navBar #vision{
    position: absolute;
    right: 0px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}
#mainTable{
    position: absolute;
    top: 1.2in;
    width: 100vw;
    height: fit-content;
    background: transparent;
    display: grid;
    z-index: -1;
}
#flag{
    height: 200px;
    width: 100px;
    top: 0px;
    margin-top: -30px;
    padding-top: 0px;
    margin-left: 10px;
}
#pray{
    font-size: 30px;
    color: white;
    grid-column-start: 2;
    margin-top: 5px;
    line-height: 50px;
    display: inline-flex;
}

/*================================================================================================*/
#topBar{
    width: 100vw;
    height: fit-content;
    padding: 10px;
    text-align: center;
    background-color: rgba(220, 20, 60, 0.229);
}
#topBar p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
}

.dropdown-item:hover{
    background-color: crimson;
    color: white;
  }
.dropdown-item{
    color: white;
}
.dropdown-menu{
    background-color: rgba(128, 128, 128, 0.644);
    color: white;
    border-radius: unset;
}
/*================================================================================================*/

#hope{
    background-color: rgb(66, 13, 66);
    border-radius: 30px;
    height: fit-content;
    cursor: pointer;
    padding: 0px;
    height: fit-content;
    display: inline-table;
    margin: 10px;
    position: relative;
}
.container{
    min-width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    position: absolute;
}
#hope-title{
    font-size: 24px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: tomato;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 0px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#soon{
    width: 100vw;
    display: grid;
}
#soon span{
    font-size: 60px;
    color: white;
    display: inline-block;
    margin: auto;
    margin-top: 300px;
    color: white;
}
